- @page_title = t('.products')

= content_for :header do
  %p.buttons= link_to t('.new_product'), :new_product, :class => 'button green'
  %h2.products= t('.products')

= render 'table', :products => @products