- @page_title = t('.gallery_categories')

= content_for :header do
  %p.buttons=link_to t('.new_category'), :new_gallery_category, :class => 'button green'
  %h2.products= t('.gallery_categories')

.table
  %table.data
    %thead
      %tr
        %th= t('.name')
    %tbody
      - if @gallery_categories.empty?
        %tr.empty
          %td No categories to display.
      - else
        - for cat in @gallery_categories
          %tr
            %td= link_to cat.name, [:edit, cat]
