- @page_title = t('.gallery_categories')
= content_for :header do
  %p.buttons= link_to t('.back_to_categories'), :gallery_categories, :class => 'button'
  %h2.products= t('.gallery_categories')
= render 'form'
